{
    "metadata" : {
        "title"            : "Test of automatic Zenodo Archiving",
        "version"          : "{{VERSION}}",
        "publication_date" : "{{DATE}}",
        "description"      : "<p>Outcome of&nbsp;https://github.com/wexeee/test_auto_zenodo_upload&nbsp;</p>",
        "access_right"     : "open",
        "license": {"id": "CC-BY-4.0"},
        "creators"         : [
        {
            "affiliation": "University of Oxford", 
            "name": "William Clarke"
        }
        ],
        "resource_type": {
            "type": "software", 
            "title": "Software"
            }
    }
}
